/* You can add global styles to this file, and also import other style files */
.loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajuste a altura conforme necessário */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Certifique-se de que o indicador esteja na frente de outros elementos */
  
    /* Estilos do spinner */
    &::after {
      content: '';
      border: 4px solid #f3f3f3; /* Cor da borda do spinner */
      border-top: 4px solid #3498db; /* Cor da borda superior do spinner (pode ajustar a cor) */
      border-radius: 50%;
      width: 40px;
      height: 40px;
      animation: spin 2s linear infinite; /* Animação do spinner */
    }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .my-actions { margin: 0 2em; }
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }

.right-gap {
  margin-right: auto;
}
